<%= form_with model: @kitten do |form| %>
  <ul>
    <li><%= form.label :name %><%= form.text_field :name %></li>
    <li><%= form.label :age %><%= form.number_field :age %></li>
    <li><%= form.label :cuteness %><%= form.text_field :cuteness %></li>
    <li><%= form.label :softness %><%= form.text_field :softness %></li>
  </ul>
  <%= form.submit %>
<% end %>
