<h1>Kittens#index</h1>
<p>Find me in app/views/kittens/index.html.erb</p>

<ul>
  <% @kittens.each do |k|%>
  <li>
    Kitten: 
    <ul>
      <li>Name: <%= k.name %></li>
      <li>Age: <%= k.age %></li>
      <li>Cuteness: <%= k.cuteness %></li>
      <li>Softeness: <%= k.softness %></li>
      <li><%= link_to "Delete Kitten", k, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
      <li><%= link_to "Edit Kitten", edit_kitten_path(k) %></li>
    </ul>
  </li>
  <% end %>
</ul>