<h1>Kittens#show</h1>
<p>Find me in app/views/kittens/show.html.erb</p>

Kitten: 
<ul>
  <li>Name: <%= @kitten.name %></li>
  <li>Age: <%= @kitten.age %></li>
  <li>Cuteness: <%= @kitten.cuteness %></li>
  <li>Softeness: <%= @kitten.softness %></li>
</ul>

<%= link_to "Delete Kitten", @kitten, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>